<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="sign-up-card  bg-secondary p-4 rounded">
        <h4 class="d-flex justify-content-center align-items-center text-white">Sign Up</h4>
        <form (ngSubmit)="onSubmit(singUp)" #singUp="ngForm">
            <div class="form-group mt-2">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter first Name" ngModel
                    name="firstName" required>
            </div>
            <div class="form-group mt-2">
                <label for="lasName">Last Name</label>
                <input type="text" class="form-control" id="lasName" placeholder="Enter last name" ngModel
                    name="lastName" required>
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter User name" ngModel
                    name="username" required>
            </div>
            <div class="form-group mt-2">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" ngModel name="email"
                    required email>
            </div>
            <div class="form-group mt-2">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="min elength should be 6"
                    minlength="6" ngModel name="password" required>
            </div>
            <div class="form-group mt-2">
                <label for="orqanizationName">Organization Name</label>
                <input type="text" class="form-control" id="orqanizationName" placeholder="Enter orqanization name"
                    ngModel name="orqanizationName" required>
            </div>
            <div class="form-group mt-2">
                <label for="phoneNumber">Phone number</label>
                <input type="number" class="form-control" id="phoneNumber" placeholder="Enter phone number" ngModel
                    name="phoneNumber" required>
            </div>
            <div class="form-group mt-2">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter Address" ngModel name="address"
                    required>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <a routerLink="/sign-in" class="text-white">Back to sign in</a>
                <button [disabled]="!singUp.valid" type="submit" class="btn btn-success ">Sign up</button>
            </div>
        </form>
    </div>
</div>